/* 
	custome style import font monserrat
	author : sabbana 
*/

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DroidSerif';
  font-style: normal;
  src: url('../fonts/DroidSerif.ttf') format('truetype');
}

.img-post, #post-content img{
	max-width:100%;
	min-width:50%;
	height:auto;
	padding:5px;
	border:solid 1px #AAA;
	margin-top:0px;
	margin-left:0px;
	margin-right:10px;
}
.img-post, #post-content img:hover{
	border:solid 1px #000;
}

#post-content{
	text-align:justify;
	line-height:20px;
}

.thumb-landscape{	
	max-width:200px;
	max-height:150px;
	clear:both;
}

#footer{
	font-size:12px;
}
#copyright{
	padding:10px;
}
.navbar ul.nav > li > a{
	text-decoration:none;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.breadcrumb, .breadcrumb a {
  font-family: "DroidSerif", Helvetica, Arial, sans-serif;
  color:#FFF;
  text-transform:none;
}

#productMain .sizes a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#blog-post .comment .reply {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.panel.sidebar-menu ul.nav.category-menu li a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#intro .item {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.btn {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size:10px;
}

.ribbon .theribbon {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.bar.background-image-fixed-2 {
    background: url('../img/poster/poster.jpg') center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#heading-breadcrumbs{
    background: url('../img/poster/s4.jpg') center top no-repeat;
    background-size: cover;
    background-position:center;
}

#top{ background-color:#444; }
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h1, h2, .h1, .h2, h3, .h3{
	font-family:DroidSerif;
}
h1, .h1{
	text-shadow:1px 2px #444;
}
#heading-breadcrumbs h1{
	color:#FFF;
}
.pagination {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.pager {
  font-family: DroidSerif, Helvetica, Arial, sans-serif;
}

.label {
  font-family: DroidSerif, Helvetica, Arial, sans-serif;
}
